[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
wheel = "*"
pytest = "*"
pytest-watch = "*"
pytest-testmon = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
flask = "*"
babel = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
